$app-bg: rgb(240, 240, 240);

// Theme Colors Start

$theme-color_01: rgb(166, 198, 76);
$theme-color_02: rgb(134, 198, 190);
//$theme-color_03: #86C6BE;

// Theme Colors End

// Typography Colors Start

$typography-color_01: rgb(50, 50, 50);
$typography-color_02: rgb(100, 100, 100);
$typography-color_03: rgb(150, 150, 150);
$typography-color_04: rgb(200, 200, 200);
$typography-color_05: rgb(220, 220, 220);
$typography-color_06: rgb(250, 250, 250);

// Typography Colors End

// Global Colors Start

$warning-color-01: rgb(192, 61, 41);

$gray-color-01: rgb(50, 50, 50);
$gray-color-02: rgb(100, 100, 100);
$gray-color-03: rgb(150, 150, 150);
$gray-color-04: rgb(200, 200, 200);
$gray-color-05: rgb(220, 220, 220);
$gray-color-06: rgb(250, 250, 250);

// Global Colors End