@import "src/assets/styles/global";

.register-stage-two-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    > p {
        color: $typography-color_04;
        transition: all .1s ease-in-out;
        &:hover {
            cursor: pointer;
            color: $typography-color_03;

        }
        &:active {
            color: $typography-color_01;

        }
        &.password-expired {
            border-radius: 3px;
            background-color: $gray-color-02;
            padding: 0.5rem 1rem;
            &:hover {
                background-color: $gray-color-01;
                color: $typography-color_06;

            }
            &:active {
                background-color: $gray-color-02;

            }
        }
    }
}