@import "src/assets/styles/global";

.input-password-container {
    pointer-events: none;
    opacity: 0.3;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in-out;
    &.active {
        pointer-events: unset;
        opacity: 1;
        &.loading {
            color: $typography-color_03;
            background-color: $gray-color-05;
            pointer-events: none;
            opacity: 0.3;

        }
    }
}