@import "src/assets/styles/global";

.input-container {
    &.email {
        pointer-events: none;
        opacity: 0.3;
        color: $typography-color_03;
        width: 300px;
        margin: 0;
        transition: .2s ease-in-out;
        &:hover {
            cursor: text;

        }
        > p {
            border-radius: 3px;
            line-height: 1rem;
            height: 2.6rem;
            display: flex;
            align-items: center;
            padding: 0.8rem;
            background-color: $gray-color-05;
            color: $typography-color_03;
            &:focus {
                outline: none;
                color: $typography-color_02;

            }
        }
        &.active {
            pointer-events: unset;
            opacity: 1;
            &.loading {
                pointer-events: none;
                opacity: 0.3;

            }
        }
    }
}