@import "src/assets/styles/global";

.register-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .top-container {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .verification-container {
        height: 600px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        .loading-container {
            width: 100%;
            height: 100%;
            background-color: $gray-color-05;
            position: absolute;
            display: none;
            align-items: center;
            justify-content: center;
            > h2 {
                color: $typography-color_06;

            }
            &.active {
                display: flex;
            }
        }
        .step-one-container {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &.hide {
                display: none;

            }
        }
        .step-two-container {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &.hide {
                display: none;

            }
        }
    }
}